  /*home page */
  .btnlogin{
    background-color: #edf3ef;
    border: none;
  }
  .loginhome ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.loginhome ul li {
    --c: #EA5C2B;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 10em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

.loginhome ul li span {
    position: absolute;
    width: 20%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.loginhome ul li:hover {
    color: #203b24;
}

.loginhome ul li:hover span {
    transform: translateY(0) scale(2);
}

.loginhome ul li span:nth-child(1) {
    --n: 1;
}

.loginhome ul li span:nth-child(2) {
    --n: 2;
}

.loginhome ul li span:nth-child(3) {
    --n: 3;
}

.loginhome ul li span:nth-child(4) {
    --n: 4;
}


  .home{
    display: flex;
    background-color: #edf3ef;
    /* width: 80%; */
    align-items: center;
    /* margin-left: 10%; */
    margin-bottom: 50px;
  }
  .homepara{
    padding-top: 20px;
    padding-left: 40px;
    font-style: italic;
    font-variant: small-caps;
  }
  .imghome{
    margin-left: 10%;
  }
  .boxhome{
    font-style: italic;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    width: 70%;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-left: 15%;
    align-items: center;
    background-color: white;
  }
  .imghome1{
    margin-left: 10%;
    padding-left: 70px;
  }
  .educatinpara{
    display: flex;
    font-size: 100%;
    
  }
  .onlineclass{
    padding-right: 10px;
  }
  .button {
    position: relative;
    background-color: #EA5C2B;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    padding: 10px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .button:after {
    content: "";
    background: #325a38;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  .showform{
    padding-left: 10px;
  }

  .sub{/* submit buttin for parent education in home page*/
    position: relative;
    background-color: #325a38;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    padding: 10px;
    margin-left: 30%;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
  }
  .btn:after {
    content: "";
    background: #EA5C2B;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  .footer{
    display: flex;
    text-align: center;
    background-color: #edf3ef;
    padding: 30px;
    margin-top: 40px;
  }
  #login {
    width: 30%;
    border-color:#EA5C2B ;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
  }
  .hspan{
    text-align: center;
    padding-bottom: 0rem;
    text-shadow: 1px 2px 2px #000000;
    text-transform: uppercase;
    color: #565858;
    letter-spacing: 0.33rem;
  }
  .hspan span{
  color: #EA5C2B;
  }
  input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password], select {
    width: 50%;
    padding: 12px 20px;
    margin-left: 30px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .buttons {
    display: inline-block;
    background-color: #f1f1f1;
    border-radius: 10px;
    border: 4px double #EA5C2B;
    color: #EA5C2B;
    text-align: center;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 35px;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .buttons span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .buttons span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
   .buttons :hover {
    background-color: #f8e0d7;
  } 
  .buttons :hover span {
    padding-right: 25px;
  }
  .buttons :hover span:after {
    opacity: 1;
    right: 0;
  }
  .success {
    background-color: #b4d2b8;
    margin-top: 5px;
    padding: 2px;
    border-left: 6px solid #325a38;
  }
  /*subscribe button*/
  .subscribe1{
    margin-top: 23%;
    margin-left: 10%;
  }
  .subscribe{
    display: inline-block;
    background-color: #f1f1f1;
    border-radius: 10px;
    border: 4px double #EA5C2B;
    color: #EA5C2B;
    text-align: center;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin-right: 0px; 
  }
 .imgfoter{
   margin-top: 22%;
   margin-left: 10%;
 }
  /* translators page*/
  .service {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 100px;
    margin-left: 27px;
    width: 40%;
  }
  .servicedeaf{
    display: inline-block;
    border: none;
    color: #868585;
    background-color: white;
    text-align: center;
    font-size: 17px;
    padding: 20px;
    width: 200px;
    margin: 15px;
    margin-left: 0px;
  }
  .servicedeaf span {
    position: relative;
    transition: 0.5s;
    color: rgb(122, 119, 119);
  
  }
  
  .servicedeaf span:after {
   
    opacity: 0;
    transition: 0.5s;
   
  }
  
  .servicedeaf:hover span {
    padding-right: 25px;
    color: #EA5C2B;
    
  }
  
  .servicedeaf:hover span:after {
    opacity: 1;
    right: 0;
   
  }
  .servicedeaf span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .servicedeaf span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .servicedeaf:hover span {
    padding-right: 25px;
  }
  .servicedeaf:hover span:after {
    opacity: 1;
    right: 0;
  }
  .serone{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  .sertwo{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  .serthree{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  .hserv{
    text-align: center;
    padding-bottom: 0rem;
    text-shadow: 1px 2px 2px #000000;
    text-transform: uppercase;
    color: #666868;
    letter-spacing: 0.33rem;
  }
  .hserv span{
  color: #EA5C2B;
  }
  .help{
    display: flex;
  }
  .helpline{
    background-color: #203b24;
    color: white;
    border-top-left-radius: 30px;
    padding: 50px;
    margin-left: 26%;
    box-shadow: 5px 10px 18px #888888;
  }
  .helplinetwo{
    background-color: rgb(255, 255, 255);
    color: #203b24;
    border-top-right-radius: 30px;
    padding: 50px;
    border-right: 4px dotted #EA5C2B;
    box-shadow: 5px 10px 18px #888888;
    
  }
  /* nav */
  .btncall{
    background-color: white;
    border: none;
  }
  .mynav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mynav ul li {
    --c: #EA5C2B;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 10em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

.mynav ul li span {
    position: absolute;
    width: 20%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.mynav ul li:hover {
    color: #203b24;
}

.mynav ul li:hover span {
    transform: translateY(0) scale(2);
}

.mynav ul li span:nth-child(1) {
    --n: 1;
}

.mynav ul li span:nth-child(2) {
    --n: 2;
}

.mynav ul li span:nth-child(3) {
    --n: 3;
}

.mynav ul li span:nth-child(4) {
    --n: 4;
}
/* end nav*/
.text{
  display:flex;
}
.transtext{
  background-color: #203b24;
    color: white;
    border-top-left-radius: 30px;
    padding: 50px;
    margin-left: 26%;
    box-shadow: 5px 10px 18px #888888;
}
.formtext{
  background-color: rgb(255, 255, 255);
  color: #203b24;
  border-top-right-radius: 30px;
  padding: 50px;
  width: 30%;
  border-right: 4px dotted #EA5C2B;
  box-shadow: 5px 10px 18px #888888;
}
.face{
  display: flex;
}
.facetoface{
    background-color: #203b24;
    color: white;
    border-top-left-radius: 30px;
    padding: 50px;
    margin-left: 26%;
    box-shadow: 5px 10px 18px #888888;
}
.facetofacetwo{
  background-color: rgb(255, 255, 255);
  color: #203b24;
  border-top-right-radius: 30px;
  padding: 50px;
  width: 30%;
  border-right: 4px dotted #EA5C2B;
  box-shadow: 5px 10px 18px #888888;
}
#Car{
  margin-left: 25%;
}
#Nocar{
  margin-left: 25%;
}
.label{
  padding: 12px 12px 12px 0;
  display: inline-block;
  /* float: left; */
  width: 25%;
  margin-top: 6px;
}
.submit {
  border: none;
  color: #203b24;
  background-color: white;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 150px;
}

.submit span {
  transition: 0.5s;
  color: #28492d;

}

.submit span:after {
  
  opacity: 0;
  transition: 0.5s;
 
}

.submit:hover span {
  padding-right: 25px;
  color: #EA5C2B;
  
}

.submit:hover span:after {
  opacity: 1;
  right: 0;
 
}
.online{
  display: flex;
}
.tranonline{
    background-color: #203b24;
    color: white;
    border-top-left-radius: 30px;
    padding: 50px;
    margin-left: 26%;
    box-shadow: 5px 10px 18px #888888;
}
.tranonlinetwo{
  background-color: rgb(255, 255, 255);
  color: #203b24;
  border-top-right-radius: 30px;
  padding: 50px;
  width: 30%;
  border-right: 4px dotted #EA5C2B;
  box-shadow: 5px 10px 18px #888888;
}
/* #Zoom{
  margin-left: 25%;
} */
#FaceTime{
  margin-left: 25%;
}
#Teams{
  margin-left: 25%;
}

/*end translators page*/
/* training */
.Programarea{
  display: flex;
  width: 100%;
}
.titleProgramarea{
  background-color: #203b24;
  color: white;
  border-top-left-radius: 30px;
  padding: 50px;
  margin-left: 26%;
  box-shadow: 5px 10px 18px #888888;
}
.infoprogram{
  box-shadow: 5px 8px 8px #888888;
  padding: 5px;
}
.formProgramarea{
  background-color: rgb(255, 255, 255);
  color: #203b24;
  border-top-right-radius: 30px;
  padding: 50px;
  width: 30%;
  border-right: 4px dotted #EA5C2B;
  box-shadow: 5px 10px 18px #888888;
}
#aviation{
  margin-left: 25%;
}
#technology{
  margin-left: 25%;
}
#business{
  margin-left: 25%;
}
.container{
  width: 50%;
  padding: 5%;
 margin-left: 25%;
  box-shadow: 5px 10px 10px #325a38;
  border: 4px dotted #EA5C2B;
  border-radius: 30px;
}
.onlineclass{
  color: #325a38;
  	text-transform: uppercase;

  	backface-visibility: hidden;
  	margin-bottom: 30px;
}
table , th, td{
  
  border-bottom:1px solid #EA5C2B ;
  width: 50%;
  padding: 15px;
  border-collapse: collapse;
  text-align: center;
}
table{
  box-shadow: 3px 3px 3px #325a38;
}

.arrow{
  position: absolute;
  top: 95%;
  left: 48%;
  transform: translate(-50%,-50%);
}
.arrow span{
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 5px solid #325a38;
  border-right: 5px solid #EA5C2B;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}
/*lawyer*/
.lawyer{
  display: flex;
  background-color: #dce9f9;
  padding-left: 10%;
  padding-top: 10%;
  /* padding-bottom: 10%; */
}
.imglawyer{
  margin-left: 17%;
}
.formlawyer{
  border: 4px dotted #EA5C2B;
  border-collapse: collapse;
  border-radius: 9%;
  padding: 5%;
}
.requestlawyer{
  text-transform: uppercase;
  text-align: center;
  padding-top: 7%;
}
.requestlawyerpara{
  text-align: center;
}